{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
      <div class="col-md-12 mb-4">
        <div class="card h-100">
          {% if artikel.gambar %}
            <img src="{{ artikel.gambar.url }}" class="card-img-top" alt="{{ artikel.judul }}">
          {% else %}
            <img src="https://via.placeholder.com/300x200?text=No+Image" class="card-img-top" alt="Gambar default">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ artikel.judul }}</h5>
            <p class="card-text">{{ artikel.konten }}</p>
          </div>
        </div>
     </div>
  </div>
{% endblock %}